**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.pem
*.ppk
*.key
.env

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln