
.terraform/


*.tfstate
*.tfstate.*
*.tfstate.backup


*.tfvars
*.auto.tfvars


crash.log


override.tf
override.tf.json
*_override.tf
*_override.tf.json


.terraformrc
terraform.rc


.vscode/

.DS_Store
Thumbs.db