# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files (usually contain secrets)
*.tfvars
*.tfvars.json

target/
*.class
*.jar

# Systemowe
.DS_Store
Thumbs.db

# VS Code i IDE
.vscode/
.idea/

# Helm i Kubernetes
*.tgz
*.lock

# Dane tymczasowe
tmp/
*.sql
*.backup