.terraform/

*.tfstate
*.tfstate.*

.terraform.tfstate.lock.info

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log

.DS_Store
.history/
.vscode/
.idea/
*.swp

**/.terraform/
**/.terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

crash.log
*.log
.DS_Store