events {
    worker_connections 1024;
}

http {
    server {
        listen {{ nginx_listen_port }};
        root /var/www/html;
        index index.html;

        location / {
            try_files $uri $uri/ =404;
        }
    }
}