apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-worker
  template:
    metadata:
      labels:
        app: payment-worker
    spec:
      containers:
       - name: payment-worker
         image: 858986858999.dkr.ecr.eu-central-1.amazonaws.com/payment-worker:v1
         livenessProbe:
           httpGet:
             path: /actuator/health
             port: 8080
           initialDelaySeconds: 30
           periodSeconds: 10 
         env:
          - name: APP_ENV
            value: "dev"  
          - name: SPRING_DATASOURCE_URL
            value: "jdbc:postgresql://finpay-db.c1ui0yags1ta.eu-central-1.rds.amazonaws.com:5432/payments"
          - name: SPRING_DATASOURCE_USERNAME
            value: "payments"  
          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: finpay-db-secret
                key: db-password