namespace: k8s-troubleshooting-ae

app:
  name: troubleshooting-app
  image:
    repository: nginx
    tag: 1.27-alpine
  replicas: 1
  mode: production

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi

nameOverride: ""
fullnameOverride: ""

networkPolicy:
  enabled: false



